---
import Layout from '../layouts/Layout.astro';
import Hello from '../components/Hello.svelte'
---

<Layout title="astro-cube">
  <main>
    <article class="region prose wrapper hero">
      <Hello client:only/>
    </article>
  </main>
</Layout>


